html {
	background: url('Copenhagen.jpg');
	background-repeat: no-repeat;
}

body {
	text-align: justify;
	background: rgba(255, 255, 255); /* fallback for browsers not supporting rgba */
	background: rgba(255, 255, 255, 0.8);
	font: 1em 'Roboto', Arial, sans-serif;
	padding: 50px;
	color: #303B4D;
}

textarea {
	height: auto;
}

h1, h2, h3 {
	color: #954B46;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 8px;
}

a, a:visited {
	text-decoration: none; 
	color: #79BEFF;
}

a:hover {
	font-weight: bold; 
	text-decoration: none; 
	color: #954B46;
}

ul {
	list-style-image: url(square.png);
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

img {
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
transform: rotate(90deg);
padding: 3em;
}