html {
	background-image: url("building.jpg");
	background-repeat: no-repeat;
	background-size: 4500px 3000px;
}

body {
	text-align: justify;
	background-color: #DEDEDE;
	opacity: 0.8;
	font: 1em 'Roboto', Arial, sans-serif;
	padding: 50px;
}

textarea {
	height: auto;
}

h1, h2, h3 {
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 8px;
}

a, a:visited {
	text-decoration: none; 
	color: #0091A9;
}

a:hover {
	font-weight: bold; 
	text-decoration: none; 
	color: #0091A9;
}

ul {
	list-style-image: url(square.png);
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

img {
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
transform: rotate(90deg);
padding: 3em;
}